@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Times New Roman, serif;
}
*,*:before,*:after{
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body{
    margin:0;
}
.hero{
    text-align: center;
    color:#ededed;
    font-family: 'Roboto Slab', serif;
    background: rgb(138,138,158);
    background: linear-gradient(161deg, rgba(138,138,158,1) 0%, rgba(2,0,36,1) 94%, rgba(0,0,0,1) 100%);
    padding:.5rem 0 2rem 0;
}
.title{
    color:white;
}
a{
    text-decoration: none;
}
nav{
    background-color:rgb(21, 101, 192);
    height: 64px;
    line-height: 64px;
    width: 100%;
}
.content{
    margin:8px;
}
h1,h2,h3,h4{
    font-family: 'Roboto Slab', serif;
}